{% extends 'student_management_app/hod_template/base_template.html' %}
{% load static %}

{% block title %}
     Update Course
{% endblock title %}

{% block page-title %}
    Update Course
{% endblock page-title %}

{% block custom_css %}
    
{% endblock custom_css %}



{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class='row'>
                
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Update Course</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form" method='POST' action=''>
                        {% csrf_token %}

                        <div class="card-body">

                          <div class="form-group">
                            <label>Course Name</label>
                            <input type="text" class="form-control" required="true" value="{{course.course_name}}" name='course' placeholder="Enter Course">
                          </div>

                          <div class="form-group">
                            {% if messages %}
                                {% for message in messages %}

                                    {% if message.tags == 'error' %}
                                        <div class='alert alert-danger'>{{message}}</div> 
                                    {% endif %}

                                    {% if message.tags == 'success' %}
                                        <div class='alert alert-success'>{{message}}</div> 
                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                          </div>


                        </div>


                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Update Course</button>
                        </div>

                      </form>
                    </div>
                    <!-- /.card -->
        
        
                  </div>
            
            </div>
        </div>
    </section>
{% endblock content %}



{% block customjs %}
  
{% endblock customjs %}